{% load static %}

<div class="container-fluid bonus bg-light">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<main class="py-3 text-center">
				<h2 class="mb-3">{{item.bonus_title}}</h2>
				<div class="row">
					{% for bonus in bonuses %}
					<div class="col-md-3 col-6 mb-4">
						<div class="rounded px-3 py-5 bg-white shadow-sm">
							<div class="mb-3">
						<img src="{{bonus.image.url}}">
							</div>
							<h5 class="mb-0">{{bonus.card_title}}</h5>
						</div>
					</div><!-- col-md-3 -->
					{% endfor %}
			
				</div><!-- row -->
			</main>
		</div>
	</div><!-- row -->
</div><!-- bonus -->
