{% load static %}

<div class="container-fluid usp bg-light">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<main class="py-3">
				<h2 class="text-center mb-3">{{item.usp_title}}</h2>
				<div class="row">
					{% for usp in usps %}
					<div class="col-md-6">
						<div class="card mb-3 p-3 border-0 shadow-sm">
						  <div class="row">
						    <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
						    <img src="{{usp.card_img.url}}">
						    </div>
						    <div class="col-md-8">
						      <div class="card-body p-0 text-center text-md-start">
						        <h5 class="card-title">{{usp.card_title}}</h5>
						        <p class="card-text">{{usp.card_desc}}</p>
						      </div>
						    </div>
						  </div>
						</div><!-- card -->
					</div><!-- col-md-6 -->
					{% endfor %}
				</div><!-- row -->
			</main>
		</div><!-- col-md-8 -->
	</div><!-- row -->
</div><!-- usp -->
