
{% extends "base.html" %}
{% load embed_video_tags %}
{% load static %}

{% block title %}
{{blog.title}}
{% endblock %}
{% block content %}
<div class="container-fluid blog-detail">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<main class="py-3">

				<div class="text-center text-md-start">
					<h2>{{blog.title}}</h2>
					<p class="lead">{{blog.excerpt}}</p>
					<p><span class="author">Admin</span> / <span class="date-post">{{blog.date_posted |date:"d M Y"}}</span> / <a href="index.php?blog-category" class="category text-decoration-none">{{blog.category.parent_category}}</a></p>
				</div>

				<div class="ratio ratio-16x9 mb-3">
           			{% video blog.video as my %}
                    <iframe class="embed-responsive-item mb-2 mr-2  mt-2" src="{{ my.url }}"></iframe>
                    {% endvideo %}			
					</div><!-- video youtube -->

				<div class="mb-3">
					<div class="entry-content mb-3"><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/47AcSD50nYxgg99swhR8uK?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
						{{blog.content | safe}}
					</div>
					<article>
					<div class="related-post">
						<h2 class="mb-3">Artikel Lainnya</h2>
									
	  				
	  			<div class="row"> 
				
					{% for form in forms %}	
					<div class="col-md-4">
			
						<div class="card border-0 bg-transparent">
							<a href="{%url 'post-detail' form.id %}">
								<img src="{{form.image.url}}" class="card-img-top">
							</a>
							<div class="card-body px-0">
								<h5 class="card-title"><a href="{%url 'post-detail' form.id %}" class="text-dark text-decoration-none">{{form.title}}</a></h5>
								<p>{{form.excerpt}}</p>
							</div>
						</div>
				
					</div><!-- col-md-4 -->
					{% endfor %}

					</div><!-- related-post -->

				</article>
			</main>
		</div>
	</div>
</div><!-- blog-detail -->
{% endblock content %}