{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for category in category %}
<div class="container-fluid blog">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<main class="py-3">
				<h1 class="mb-3">{{ category.name }}</h1>
				<div class="row"> 
                    {% for post in post_list %}
                    {% if post.category.name == category.name %}
					<div class="col-md-4">
						<div class="card border-0 bg-transparent">
                            
							<a href="{%url 'post-detail' post.slug %}">
								<img src="{% if post.image %}{{ post.image.url }}{% else %} {% static 'images/hero.png' %} {% endif %}" class="card-img-top" alt="{{ post.title }}">
							</a>
							<div class="card-body px-0">
								<h5 class="card-title"><a href="index.php?blog-detail" class="text-dark text-decoration-none">{{ post.title }}</a></h5>
								<p>{{ post.excert }}</p>
							</div>
						</div>
					</div><!-- col-md-4 -->
                    {% endif %}
                    {% endfor %}
					{% comment %} <div class="col-md-4">
						<div class="card border-0 bg-transparent">
							<a href="index.php?blog-detail">
								<img src="https://img-c.udemycdn.com/course/240x135/354176_fe73_5.jpg" class="card-img-top" alt="Enterprise SEO: Lessons from 20 years in the trenches">
							</a>
							<div class="card-body px-0">
								<h5 class="card-title"><a href="index.php?blog-detail" class="text-dark text-decoration-none">Enterprise SEO: Lessons from 20 years in the trenches</a></h5>
								<p>Want to gain market share rapidly and boost profits? Learn the key elements of a winning SEO ..</p>
							</div>
						</div>
					</div><!-- col-md-4 --> 
					<div class="col-md-4">
						<div class="card border-0 bg-transparent">
							<a href="index.php?blog-detail">
								<img src="https://img-c.udemycdn.com/course/240x135/519554_da68_6.jpg" class="card-img-top" alt="Measurement in a cookieless world: Are you ready for what’s next?">
							</a>
							<div class="card-body px-0">
								<h5 class="card-title"><a href="index.php?blog-detail" class="text-dark text-decoration-none">Measurement in a cookieless world: Are you ready for what’s next?</a></h5>
								<p>In this webinar, learn about the challenges and solutions to help you..</p>
							</div>
						</div>
					</div><!-- col-md-4 --> {% endcomment %}
				</div><!-- row -->

			</main>
		</div>
	</div>
</div><!-- blog -->
{% endfor %}
<div class="d-flex justify-content-between">
    {% comment %} {% if is_paginated %} {% endcomment %}
    <a class="btn btn-outline-primary mb-4 {% if page_obj.has_previous %}{% else %}disabled{% endif %}" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">Previous</a>
    <a class="btn btn-outline-primary mb-4 {% if page_obj.has_next %}{% else %}disabled{% endif %}" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Next</a>
    </div>
{% endblock %}