<div class="container-fluid page-general-content">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<main class="py-3">
				<h1 class="mb-3">About Us</h1>
				<article>
					<p>Google has begun the rollout of the third version of the products reviews update, a search ranking algorithm update targeted at ranking product review related content on the web that is most helpful and useful to searchers. The first product reviews update was launched on April 8, 2021, the second was launched on December 1, 2021 and now the third has been released on March 23, 2022. The new is named the March 2022 product reviews update.</p>
					<h2>Headline 2</h2>
					<p>Google product reviews update. The Google product reviews update aims to promote review content that is above and beyond much of the templated information you see on the web. Google said it will promote these types of product reviews in its search results rankings.</p>
					<p>Google is not directly punishing lower quality product reviews that have “thin content that simply summarizes a bunch of products.” However, if you provide such content and find your rankings demoted because other content is promoted above yours, it will definitely feel like a penalty. Technically, according to Google, this is not a penalty against your content, Google is just rewarding sites with more insightful review content with rankings above yours.</p>
				</article>
			</main>
		</div>
	</div>
</div><!-- page-general-content -->