{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for course in courses %}
<div class="container-fluid page-course-hero bg-blue">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<main class="py-5 text-white text-center text-md-start mb-5">
				<div class="d-flex align-items-center flex-column flex-md-row">
					<div class="left">
						<h1 class="mb-4">{{course.title}}</h1>
						<p class="lead mb-4">{{course.excerpt}}</p>
						<a href="#" class="btn btn-lg bg-pink text-white mb-5"><i class="bi bi-whatsapp"></i> Chat via WhatsApp</a>
					</div><!-- left -->
					<div class="right">
						<img src="{{course.hero_img.url}}">
					</div><!-- right -->
				</div><!-- d-flex -->
			</main>
		</div>
	</div><!-- row -->
</div><!-- page-course-hero -->

<div class="container-fluid page-course-content mb-5">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<main class="py-3 px-3 px-md-5 bg-white rounded shadow">

				<p>{{course.intro_content |safe}}</p>
				

				<a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="text-decoration-none">Read more <i class="bi bi-chevron-down"></i></a>
				<div class="collapse" id="collapseExample">
					<p>{{course.detail_content |safe}}</p>
				</div><!-- collapse -->
			</main>
		</div>
	</div><!-- row -->
</div><!-- page-course-content -->
{% include 'partials/usp.html' %}
{% include 'partials/testimonial.html' %}
{% include 'partials/bonus.html' %}
{% include 'partials/trainer.html' %}
{% include 'partials/subscribe.html' %}
{% endfor %}
{% endblock %}