{% extends 'base.html' %}
{% load static %}

{% block content %}
	{% for item in items %}
   <div class="container-fluid home-hero bg-blue">
	<div class="row">
	
		<div class="col-md-7 mx-auto">
			<main class="py-5 text-white text-center text-md-start mb-5">
				<div class="d-flex align-items-center flex-column flex-md-row">
					<div class="left">
						<h1 class="mb-4">{{item.title}}</h1>
						<p class="lead mb-4">{{item.excerpt}}</p>
						<a href="#" class="btn btn-lg bg-pink text-white mb-5 p-2"><i class="bi bi-whatsapp"></i> Chat via WhatsApp</a>
					</div><!-- left -->
					<div class="right">
						<img src="{{item.hero_img.url}}">
					</div><!-- right -->
				</div><!-- d-flex -->
			</main>
		</div>

	</div><!-- row -->
</div><!-- home-hero -->

<div class="container-fluid home-product mb-5">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<main class="py-3 px-3 px-md-5 bg-white rounded shadow text-center">
				<h2 class="mb-5">{{item.home_product_title}}</h2>
				<div class="row">
					{% for card in cards %}
					<div class="col-md-3 col-6 mb-4">
						<div class="mb-3">
						<img src="{{card.card_image.url}}">
						</div>
						<h5>{{card.card_title}}</h5>
						<p>{{card.card_desc}}</p>
					</div><!-- col-md-3 -->
					{% endfor %}
				</div><!-- row -->
			</main>
		</div>
	</div><!-- row -->
</div><!-- home-product -->

{% include 'partials/usp.html' %}
{% include 'partials/testimonial.html' %}
{% include 'partials/bonus.html' %}
{% include 'partials/trainer.html' %}
{% include 'partials/subscribe.html' %}
{% endfor %}
{% endblock %}
