{% extends 'base.html' %}
{% load static%}

{% block content %}
<div class="container-fluid page-general-content">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<main class="py-3">
				<h1 class="mb-3">404 Page Not Found</h1>
				<article>
					<p>Maaf, halaman tidak ditemukan. Anda bisa masuk ke salah satu artikel di bawah ini.</p>

					<div class="row"> 
						<div class="col-md-4">
							<div class="card border-0 bg-transparent">
								<a href="index.php?blog-detail">
									<img src="https://img-c.udemycdn.com/course/240x135/4464880_b9e3_3.jpg" class="card-img-top">
								</a>
								<div class="card-body px-0">
									<h5 class="card-title"><a href="index.php?blog-detail" class="text-dark text-decoration-none">10 Call to Action Best Practices to Get More Email Subscribers</a></h5>
									<p>Get more subscribers the easy way by tweaking just a few words in your call to action buttons.</p>
								</div>
							</div>
						</div><!-- col-md-4 -->
						<div class="col-md-4">
							<div class="card border-0 bg-transparent">
								<a href="index.php?blog-detail">
									<img src="https://img-c.udemycdn.com/course/240x135/354176_fe73_5.jpg" class="card-img-top">
								</a>
								<div class="card-body px-0">
									<h5 class="card-title"><a href="index.php?blog-detail" class="text-dark text-decoration-none">Enterprise SEO: Lessons from 20 years in the trenches</a></h5>
									<p>Want to gain market share rapidly and boost profits? Learn the key elements of a winning SEO ..</p>
								</div>
							</div>
						</div><!-- col-md-4 --> 
						<div class="col-md-4">
							<div class="card border-0 bg-transparent">
								<a href="index.php?blog-detail">
									<img src="https://img-c.udemycdn.com/course/240x135/519554_da68_6.jpg" class="card-img-top">
								</a>
								<div class="card-body px-0">
									<h5 class="card-title"><a href="index.php?blog-detail" class="text-dark text-decoration-none">Measurement in a cookieless world: Are you ready for what’s next?</a></h5>
									<p>In this webinar, learn about the challenges and solutions to help you..</p>
								</div>
							</div>
						</div><!-- col-md-4 -->
					</div><!-- row -->
				</article>
			</main>
		</div>
	</div>
</div><!-- page-general-content -->
{% endblock %}