{% load static %}

<div class="container-fluid testimonial">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<main class="py-3">
				<h2 class="text-center mb-3">Cerita Sukses Alumni</h2>
				<div class="owl-carousel owl-carousel-testimonial owl-theme">
					<div class="owl-carousel-item rounded mb-3">
						<div class="position-relative">
							<a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
						<img src="{% static 'images/testimonial.png' %}" class="rounded">
								<span class="play-button"><i class="bi bi-play-circle-fill fs-1 text-white shadow opacity-75"></i></span>
							</a>
						</div>
						<div class="p-3">
							<p class="fst-italic"><i class="bi bi-quote"></i>Notice how most of the courses that teach you how to advertise with Facebook.</p>
						</div>
					</div><!-- owl-carousel-item -->
				</div><!-- owl-carousel -->
			</main>
		</div>
	</div><!-- row -->
</div><!-- container-fluid -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Cerita Sukses Alumni</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
			
<iframe width="1904" height="833" src="https://www.youtube.com/embed/ed_UWFr13pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>