{% load static %}

<div class="container-fluid trainer">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<main class="py-3 text-center">
				<h2 class="mb-3">Tim Pengajar</h2>
				<div class="row">
					<div class="col-md-3 col-6 mb-4">
						<div class="mb-3">
						<img src="{% static 'images/icon.png' %}">
						</div>
						<h5 class="mb-0">Aditya</h5>
						<p class="mb-0 fst-italic">CEO Company <a href="#" class="text-info" target="_blank" rel="nofollow"><i class="bi bi-linkedin"></i></a></p>
					</div><!-- col-md-3 -->
					<div class="col-md-3 col-6 mb-4">
						<div class="mb-3">
						<img src="{% static 'images/icon.png' %}">
						</div>
						<h5 class="mb-0">Adinata</h5>
						<p class="mb-0 fst-italic">CEO Company <a href="#" class="text-info" target="_blank" rel="nofollow"><i class="bi bi-linkedin"></i></a></p>
					</div><!-- col-md-3 -->
					<div class="col-md-3 col-6 mb-4">
						<div class="mb-3">
						<img src="{% static 'images/icon.png' %}">
						</div>
						<h5 class="mb-0">Akarsana</h5>
						<p class="mb-0 fst-italic">CEO Company <a href="#" class="text-info" target="_blank" rel="nofollow"><i class="bi bi-linkedin"></i></a></p>
					</div><!-- col-md-3 -->
					<div class="col-md-3 col-6 mb-4">
						<div class="mb-3">
						<img src="{% static 'images/icon.png' %}">
						</div>
						<h5 class="mb-0">Ardiyanto</h5>
						<p class="mb-0 fst-italic">CEO Company <a href="#" class="text-info" target="_blank" rel="nofollow"><i class="bi bi-linkedin"></i></a></p>
					</div><!-- col-md-3 -->
				</div><!-- row -->
			</main>
		</div>
	</div><!-- row -->
</div><!-- trainer -->
